.wrapper {
  padding: 50px 0;
}

.file-list {
  position: relative;
  list-style: none;
  padding: 0 0 10px 0;
  overflow: hidden;
}

.file-list.ng-enter {
  animation: .3s file-list;
}

.file-list.ng-leave {
  animation: .3s file-list reverse;
}

.file-list:before {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: -5px;
  height: 100%;
  width: 7px;
  border-left: 1px dashed #666;
  border-bottom: 1px dashed #666;
}

.file-item {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  line-height: 26px;
}

.file-item .btn-group {
  font-size: 14px;
}

.file-list .file-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 10px;
  border-bottom: 1px dashed #666;
  width: 7px;
}

.has-children > .glyphicon {
  cursor: pointer;
}

.file-type-icon {
  color: #5347f3;
}

.folder-type-icon {
  color: #ffab00;
}

.editing-form {
  display: inline;
}

.editing-form .form-control,
.editing-form .btn {
  display: inline;
  width: auto;
}

.price-input-group {
  width: 140px;
}

.file-details {
  list-style: none;
  padding-left: 0;
}

.title-wrapper {
  font-size: 24px;
  margin: 15px auto 34px;
}

iframe {
  width: 100%;
  height: 422px;
}

@keyframes file-list {
  from { opacity: 0; }
  to   { opacity: 1; }
}
