<div class="file-item">
  <input type="checkbox" ng-checked="file.checked" ng-click="updateCheckbox($event)" ui-indeterminate="isIndeterminate">
  <span ng-click="toggleFolder(); selectedFile.setFile(file)" ng-class="{'has-children': file.children.length}">
    <span ng-class="{
        'glyphicon-file file-type-icon': !isFolder,
        'glyphicon-folder-open folder-type-icon': isFolder && opened,
        'glyphicon-folder-close folder-type-icon': isFolder && !opened
      }" class="file-icon glyphicon" aria-hidden="true"></span>

      <span ng-if="!editing">
        {{file.name}}

        <span class="btn-group" ng-if="file.editable">
          <button ng-click="toggleEditing(); $event.stopPropagation()" class="btn btn-primary btn-xs" title="Edit {{file.type}}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button ng-click="deleteFile(); $event.stopPropagation()" class="btn btn-danger btn-xs" title="Delete {{file.type}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </span>

        <span class="btn-group" ng-if="isFolder">
          <button ng-click="addToChildren('file'); $event.stopPropagation()" class="btn btn-success btn-xs" title="Add file">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </button>
          <button ng-click="addToChildren('folder'); $event.stopPropagation()" class="btn btn-success btn-xs" title="Add folder">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
          </button>
        </span>

        <i class="text-muted">price({{file.price}} $)</i>
      </span>
  </span>

  <form ng-if="editing" ng-submit="toggleEditing(); updateParentPrice()" class="editing-form form-inline">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" ng-model="file.name" class="form-control">
    </div>
    <div class="input-group price-input-group" ng-if="!isFolder">
      <span class="input-group-addon">$</span>
      <input type="number" ng-model="file.price" class="form-control">
    </div>
    <button class="btn btn-default" ng-click="file.name = oldName; file.price = oldPrice; toggleEditing()" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>

  <ul ng-if="opened" class="file-list">
    <li ng-repeat="childFile in file.children">
      <file file="childFile"
            delete-file="deleteFromChildren($index)"
            update-parent-price="updatePrice()"
            update-parent-checkbox="updateCheckbox()"></file>
    </li>
  </ul>
</div>
