<div class="well">
  <ul class="file-details">
    <li ng-repeat="(key, value) in selectedFile.getFile()" ng-if="showProperty(value)">
      <strong>{{key | parseCamelCase}}:</strong> {{prepareValue(key, value)}}
    </li>
  </ul>
  <p ng-if="!selectedFile.getFile()">There is no selected file</p>
</div>
