<div ng-if="!payMeSaleUrl">
  <div class="title-wrapper clearfix">
    Total price of selected files is <strong>${{totalPrice}}</strong>

    <button ng-click="makePayment()" class="btn btn-primary pull-right">Pay</button>
  </div>

  <file ng-if="!payMeSaleUrl" file="tree"></file>
</div>

<div ng-if="payMeSaleUrl">
  <div class="title-wrapper clearfix">
    <button class="btn btn-primary pull-right" ng-click="cancelPayment()">Back to files</button>
  </div>
  <iframe ng-if="payMeSaleUrl" ng-src="{{payMeSaleUrl}}" frameborder="0"></iframe>
</div>
